
/ {
	chosen {
		zephyr,uart-mcumgr = &cdc_acm_uart0;
	};
};

&usb1 {
    maximum-speed = "high-speed";
};

&usb2 {
    maximum-speed = "high-speed";
};

&lpi2c1 {
	smart_battery: nh2054qe34@b{
		status = "okay";
		compatible = "inspiredenergy,nh2054qe34";
		reg = <0xb>;
	};

	smart_battery_charger: bq25713@6b{
		status = "okay";
		compatible = "ti,bq25713";
		reg = <0x6b>;	// See Device Comparison Table in datasheet
	};
};

&lcdif {
	width = <320>;
	height = <240>;
	hsync = <48>;
	hfp = <40>;
	hbp = <88>;
	vsync = <3>;
	vfp = <13>;
	vbp = <32>;
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};
