
/ {
	chosen {
		zephyr,uart-mcumgr = &cdc_acm_uart0;
	};
};

&usb1 {
    maximum-speed = "high-speed";
};

&usb2 {
    maximum-speed = "high-speed";
};

&lcdif {
	width = <320>;
	height = <240>;
	hsync = <48>;
	hfp = <40>;
	hbp = <88>;
	vsync = <3>;
	vfp = <13>;
	vbp = <32>;
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};
