
/ {
	chosen {
		zephyr,uart-mcumgr = &cdc_acm_uart0;
	};
};

&usb1 {
    maximum-speed = "high-speed";
};

&usb2 {
    maximum-speed = "high-speed";
};

&lcdif {
	width = <320>;
	height = <240>;
	hsync = <48>;
	hfp = <40>;
	hbp = <88>;
	vsync = <3>;
	vfp = <13>;
	vbp = <32>;
};

&lpi2c1 {	
	smart_battery: nh2054qe34@b{
		status = "okay";
		compatible = "inspiredenergy,nh2054qe34";
		reg = <0xb>;
	};
	
	smart_battery_charger: bq25713@6b{
		status = "okay";
		compatible = "ti,bq25713";
		reg = <0x6b>;	// See Device Comparison Table in datasheet
	};
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};

// Remove the SD card bindings, as they use the same pins as SPI1.
/{
    aliases{    // Remove the alias, as it will refer to a node that does not exists.
		/delete-property/ sdhc0;
    };

};
// Remove the SD card pin bindings.
/delete-node/ &usdhc1;

// Add SPI and inclinometer.
&lpspi1 {
    pcs-sck-delay = <700>;      // Delay in nanoseconds from the chip select assert to the first clock edge. If not set, the minimum supported delay is used.
    sck-pcs-delay = <7000>;      // Delay in nanoseconds from the last clock edge to the chip select deassert. If not set, the minimum supported delay is used.
    transfer-delay = <12000>;   // Delay in nanoseconds from the chip select deassert to the next chip select assert. If not set, the minimum supported delay is used.
	incl_scl3300: SCL3300@0 {
		status = "okay";
		compatible = "murata,scl3300";
        spi-max-frequency = <1000000>;  // if this is changed remember to change pcs-sck-delay and sck-pcs-delay. They have to be min clk-period/2.
		reg = <0x0>;
	};
};

// Use interal (OC) ram,  instead of external ram.
// This setting here replaces the default device tree "zephyr,sram" field in zephyrproject/zephyr/boards/arm/mimxrt1060_evk/mimxrt1060_evk.dts.
// The 'ocram' tag/label is defined in zephyrproject/zephyr/dts/arm/nxp/nxp_rt1060.dtsi.
/{
	chosen {
		zephyr,sram = &ocram;
	};
};