build*/
zephyrproject
twister-out*/
__pycache__/
*-venv/
*.pyc
*.zip
*.cmd
*.bit.bin
*.mod
*.mod.c
*.mod.o
*.o
*.o.d
*.a
*.ko
.*.swp
.vscode/
.venv/
.cache/
!build.py
!pipelines/build*
!docker/build*
