# Copyright (c) 2019, NXP
# SPDX-License-Identifier: Apache-2.0

config DISPLAY_LCD
	bool "MCUX eLCDIF driver"
	depends on HAS_MCUX_ELCDIF
	help
	  Enable support for mcux eLCDIF driver.

config DISK_DRIVER_FRAMERAM
	bool "FRAMERAM Disk"
	help
	  RAM buffer used to emulate storage disk.
	  This option can be used to test the file
	  system.

config DISPLAY_LCD_W_FRAMEDISK
	bool "MCUX eLCDIF driver"
	depends on HAS_MCUX_ELCDIF
	select DISPLAY_LCD
	select DISK_DRIVER_FRAMERAM
	help
	  Enable support for mcux eLCDIF driver.

if DISPLAY_LCD

config LCD_POOL_BLOCK_NUM
	int "Number of memory pool blocks"
	default 2
	help
	  Number of blocks in the frame buffer memory pool.

config LCD_POOL_BLOCK_MIN
	hex "Minimum memory pool block size"
	default 0x400
	help
	  Minimum block size in the frame buffer memory pool.

config LCD_POOL_BLOCK_MAX
	hex "Maximum memory pool block size"
	default 0x40000
	help
	  Maximum block size in the frame buffer memory pool.

config LCD_POOL_BLOCK_ALIGN
	int "Alignment of memory pool blocks"
	default 64
	help
	  Byte alignment in the frame buffer memory pool.

endif # DISPLAY_LCD

if DISK_DRIVER_FRAMERAM

config DISK_FRAMERAM_VOLUME_SIZE
	int "FRAMERAM Disk size in kilobytes"
	default 96
	help
	  Size of the RAM Disk.

config DISK_FRAMERAM_VOLUME_NAME
	string "FRAMERAM Disk mount point or drive name"
	default "FRAMERAM"
	help
	  Disk name as per file system naming guidelines.

module = FRAMERAM
module-str = framedisk
source "subsys/logging/Kconfig.template.log_config"

endif # DISK_DRIVER_FRAMERAM
