#pragma once
#include <zephyr.h>
#include <logging/log.h>
#include <pb_encode.h>
#include "proto/message.pb.h"

struct MessageBuffer {
    uint8_t buffer[MessageOuter_size];  
    size_t message_length = 0;
    bool is_received = false;
};

namespace MessageEncoder {
    {% for function in functions -%}
    bool Encode{{ function.name }}(MessageBuffer &buffer{% for variable in function.variables %}, {{ variable.type }} {{ variable.name }}{% endfor %});
    {% endfor -%}
};